<launch>

  <arg name="LOGGER_DEBUG" default="$(optenv LOGGER_DEBUG false)" />

  <arg name="UAV_NAME" default="uav23" />
  <arg name="map_in_topic" default="/$(arg UAV_NAME)/octomap_full" />
  <arg name="map_out_topic" default="/$(arg UAV_NAME)/octomap_full_filtered" />

  <env name="ROSCONSOLE_CONFIG_FILE" if="$(eval arg('LOGGER_DEBUG'))" value="$(find mrs_octomap_tools)/config/debug_verbosity.yaml" />

    <!-- other args -->
  <arg name="debug" default="false" />
  <arg name="standalone" default="true" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="ceiling_remover" args="$(arg nodelet) mrs_octomap_tools/OctomapCeilingRemover $(arg nodelet_manager)" output="screen">

      <rosparam file="$(find mrs_octomap_tools)/config/octomap_ceiling_remover.yaml" command="load" />

      <!-- topics in -->
      <remap from="~octomap_in" to="$(arg map_in_topic)" />

      <!-- topics out -->
      <remap from="~octomap_out" to="$(arg map_out_topic)" />

    </node>

  </group>

</launch>
